@model ÖğrenciNotMVC.Models.EntityFrameWork.Tbl_Not
@{
    ViewBag.Title = "sınavgetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>sınavgetir</h2>

@using (Html.BeginForm("sınavgetir", "Sınav", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DersId)
        @Html.TextBoxFor(m => m.DersId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OgrId)
        @Html.TextBoxFor(m => m.OgrId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav1)
        @Html.TextBoxFor(m => m.Sınav1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav2)
        @Html.TextBoxFor(m => m.Sınav2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sınav3)
        @Html.TextBoxFor(m => m.Sınav3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Proje)
        @Html.TextBoxFor(m => m.Proje, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ortalama)
        @Html.TextBoxFor(m => m.Ortalama, new { @Value = ViewBag.ort, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Durum)
        @Html.TextBoxFor(m => m.Durum, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.NotId)

    <div>
        <button type="submit" name="islem" value="hesapla" class="btn btn-info"> Hesapla</button>
        <br />
        <button type="submit" name="islem" value="guncelle"class="btn btn-success">Guncelle</button>
        <label>Ortalama=@ViewBag.ort</label>
    </div>
}