@model ÖğrenciNotMVC.Models.EntityFrameWork.Tbl_Ogrenciler
@{
    ViewBag.Title = "ogrencigetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ogrencigetir</h2>

@using (Html.BeginForm("guncelle", "ogrenci", FormMethod.Post))
{
<div class="form-group">
    <div>
        @Html.LabelFor(m => m.OgrenciAd)
        @Html.TextBoxFor(m => m.OgrenciAd, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OgrenciSoyad)
        @Html.TextBoxFor(m => m.OgrenciSoyad, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OgrenciFotograf)
        @Html.TextBoxFor(m => m.OgrenciFotograf, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OgrenciCinsiyet)
        @Html.TextBoxFor(m => m.OgrenciCinsiyet, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OgrenciKulup)
        @Html.DropDownListFor(m => m.Tbl_Kulup.KulupId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.OgrenciId)
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
</div>
}